.contactBtn {
	width: 220px;
	height: 55px;
	cursor: pointer;
	border-radius: 30px;
	border-width: 1px;
	padding: 10px 20px;
}

.contactBtnText {
	font-weight: 300;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	margin: 0;
}